.toggle {
  height: 30px;
  background-color: #D8D9DB;
  width: 50px;
  border-radius: 15px;
  position: relative;
}


.on {
  background-color: #4DD664;
}

.toggle:not(.on) .toggle-circle {
  left: 22px;
}

.toggle-circle {
  position: absolute;
  background-color: white;
  height: 26px;
  border-radius: 100%;
  width: 26px;
  top: 2px;
  left: 2px;
}
